# Folder to watch.
MONITOR_FOLDER_PATH=/absolute/path/to/your/folder

# Your Zipline upload endpoint
ZIPLINE_UPLOAD_URL=https://your.zipline.instance/api/upload

# Account token from Zipline
ZIPLINE_TOKEN=

# Open the uploaded file in your browser? true / false
OPEN_URL_IN_BROWSER=false
